spring:
  datasource:
    url: jdbc:mysql://localhost/zusProjectServer?createDatabaseIfNotExist=true
    username: root
    password:
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: update
    show-sql: true
  jackson:
    mapper:
      accept-case-insensitive-enums: true

server:
  address: 0.0.0.0
  port: 8080